<div class="title" fxLayoutAlign="center">
    <h1>Education</h1>
</div>
<div fxLayoutAlign="center">
    <mat-stepper orientation="vertical">
        <mat-step label="2017 - 2023" state="education">
            <mat-card>
                <mat-card-title>University of Applied Sciences Karlsruhe (HKA)</mat-card-title>
            </mat-card>
        </mat-step>
        <mat-step label="2008 - 2016" state="education">
            <mat-card>
                <mat-card-title>Meranier-Gymnasium Lichtenfels</mat-card-title>
                <mat-card-subtitle>Abitur</mat-card-subtitle>
                <mat-card-content>Final Grade: 3,1</mat-card-content>
            </mat-card>
        </mat-step>
        <mat-step label="2004 - 2008" state="education">
            <mat-card>
                <mat-card-title>Adam-Riese Grundschule</mat-card-title>
            </mat-card>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="education">
            <mat-icon>school</mat-icon>
        </ng-template>

        <!-- change default 'edit' icon -->
        <ng-template matStepperIcon="edit">
            <mat-icon>school</mat-icon>
        </ng-template>

        <!-- change default 'done' icon -->
        <ng-template matStepperIcon="done">
            <mat-icon>school</mat-icon>
        </ng-template>

    </mat-stepper>
</div>