<div>
    <div class="title" fxLayoutAlign="center">
        <h1>About Me</h1>
    </div>
    <div>
        <div>
            <p>I'm a software developer based in Karlsruhe</p>
        </div>
        <div>
            <a href="/assets/files/" download="Lebenslauf_Minh-Ngoc-Pham.pdf">
                <button mat-flat-button class="button">Download CV
                    <mat-icon>download</mat-icon>
                </button>
            </a>
        </div>
    </div>
</div>

<mat-divider class="divider"></mat-divider>

<app-career></app-career>
<mat-divider class="divider"></mat-divider>

<app-education></app-education>
<mat-divider class="divider"></mat-divider>

<app-volunteering></app-volunteering>
<mat-divider class="divider"></mat-divider>

<app-interests></app-interests>