.title {
  margin-top: 5rem;
  color: #9AAABD;
}

.button {
  font-size: 15px;
  font-weight: 300;
  background-color: #9ba8bc;
  border-color: #9ba8bc;
  color: white;
  padding: 5px;
  border-radius: 30px;
}

.divider {
    margin: 50px;
}
