<div>
    <div class="text" fxLayoutAlign="center">
        <h1>About Me</h1>
    </div>
    <div fxLayoutAlign="right">
        <p>I'm a software developer based in Karlsruhe</p>
    
        <button mat-flat-button class="button">Download CV
            <mat-icon>download</mat-icon>
        </button>
    </div>
</div>

<mat-divider class="divider"></mat-divider>

<app-career></app-career>
<mat-divider class="divider"></mat-divider>

<app-education></app-education>
<mat-divider class="divider"></mat-divider>

<app-volunteering></app-volunteering>
<mat-divider class="divider"></mat-divider>

<app-interests></app-interests>