<div class="title" fxLayoutAlign="center">
    <h1>Interests</h1>
</div>
<div>
    <mat-grid-list cols="4">
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>
                    <mat-icon>sports_esports</mat-icon>
                    <mat-card-title>Gaming</mat-card-title>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>
                    <mat-icon>auto_stories</mat-icon>
                    <mat-card-title>Reading</mat-card-title>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>
                    <mat-icon>restaurant</mat-icon>
                    <mat-card-title>Cooking</mat-card-title>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>
                    <mat-icon>flight</mat-icon>
                    <mat-card-title>Traveling</mat-card-title>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>