<div class="title" fxLayoutAlign="center">
    <h1>Volunteering</h1>
</div>
<div fxLayoutAlign="center">
    <mat-tab-group>
        <mat-tab label="H-KA">
            <mat-stepper orientation="vertical">
                <mat-step label="2017 - 2023" state="volunteer">
                    <mat-card>
                        <mat-card-title>Member of the faculty council</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="2008 - 2016" state="volunteer">
                    <mat-card>
                        <mat-card-title>Finance Officer</mat-card-title>
                        <mat-card-content>In the winter semester 18/19 I took over the active post of the finance
                            officer in the student
                            council.
                        </mat-card-content>
                    </mat-card>
                </mat-step>
                <mat-step label="" state="volunteer">
                    <mat-card>
                        <mat-card-title>Mentor for Freshman</mat-card-title>
                        <mat-card-content>
                            My job as a mentor was to be available to the new students if they had any
                            questions and <br>to introduce them successfully into the student life.</mat-card-content>
                    </mat-card>
                </mat-step>
                <mat-step label="" state="volunteer">
                    <mat-card>
                        <mat-card-title>Tutor</mat-card-title>
                        <mat-card-content>
                            As a tutor for the subject "Introduction to Business Information Systems", <br>
                            I answered open questions with the students in the 1st semester and repeated and practiced
                            the learning content imparted in the lecture.
                        </mat-card-content>
                    </mat-card>
                </mat-step>
                <mat-step label="" state="volunteer">
                    <mat-card>
                        <mat-card-title>Member of the student council</mat-card-title>
                    </mat-card>
                </mat-step>

                <!-- Icon overrides. -->
                <ng-template matStepperIcon="volunteer">
                    <mat-icon>volunteer_activism</mat-icon>
                </ng-template>

                <!-- change default 'edit' icon -->
                <ng-template matStepperIcon="edit">
                    <mat-icon>volunteer_activism</mat-icon>
                </ng-template>

                <!-- change default 'done' icon -->
                <ng-template matStepperIcon="done">
                    <mat-icon>volunteer_activism</mat-icon>
                </ng-template>

            </mat-stepper>
        </mat-tab>
        <mat-tab label="Meranier-Gymnasium Lichtenfels">
            <mat-stepper orientation="vertical">
                <mat-step label="2017 - 2023" state="volunteer">
                    <mat-card>
                        <mat-card-title>Conflict worker</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="2008 - 2016" state="volunteer">
                    <mat-card>
                        <mat-card-title>Tutor</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="" state="volunteer">
                    <mat-card>
                        <mat-card-title>Voluntary social school year</mat-card-title>
                        <mat-card-content>Support of the open all-day school of the Meranier-Gymnasium Lichtenfels
                            through help with
                            homework and childcare.</mat-card-content>
                    </mat-card>
                </mat-step>
                <mat-step label="" state="volunteer">
                    <mat-card>
                        <mat-card-title>Member of the student co-responsibility</mat-card-title>
                    </mat-card>
                </mat-step>

                <!-- Icon overrides. -->
                <ng-template matStepperIcon="volunteer">
                    <mat-icon>volunteer_activism</mat-icon>
                </ng-template>

                <!-- change default 'edit' icon -->
                <ng-template matStepperIcon="edit">
                    <mat-icon>volunteer_activism</mat-icon>
                </ng-template>

                <!-- change default 'done' icon -->
                <ng-template matStepperIcon="done">
                    <mat-icon>volunteer_activism</mat-icon>
                </ng-template>

            </mat-stepper>
        </mat-tab>
    </mat-tab-group>
</div>