<div class="title" fxLayoutAlign="center">
    <h1>Projects</h1>
</div>
<div fxLayoutAlign="center">
    <mat-tab-group>
        <mat-tab label="University Projects">
            <mat-stepper orientation="vertical">
                <mat-step label="1st Semester" state="projects">
                    <mat-card>
                        <mat-card-title>Programming I</mat-card-title>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Workshop Programming</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="2nd Semester" state="projects">
                    <mat-card>
                        <mat-card-title>Programming II</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="3rd Semester" state="projects">
                    <mat-card>
                        <mat-card-title>Software Architecture</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="4th Semester" state="projects">
                    <mat-card>
                        <mat-card-title>Software Engineering</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="6th Semester" state="projects">
                    <mat-card>
                        <mat-card-title>E-Business</mat-card-title>
                    </mat-card>
                    <mat-card>
                        <mat-card-title>Application Project</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="7th Semester" state="projects">
                    <mat-card>
                        <mat-card-title>Integrated Business Systems II</mat-card-title>
                    </mat-card>
                </mat-step>

                <!-- Icon overrides. -->
                <ng-template matStepperIcon="projects">
                    <mat-icon>code</mat-icon>
                </ng-template>

                <!-- change default 'edit' icon -->
                <ng-template matStepperIcon="edit">
                    <mat-icon>code</mat-icon>
                </ng-template>

                <!-- change default 'done' icon -->
                <ng-template matStepperIcon="done">
                    <mat-icon>code</mat-icon>
                </ng-template>

            </mat-stepper>
        </mat-tab>
        <mat-tab label="Own Projects">
            <mat-stepper orientation="vertical">
                <mat-step label="2021" state="projects">
                    <mat-card>
                        <mat-card-title>My Website</mat-card-title>
                    </mat-card>
                </mat-step>
                <mat-step label="2021" state="projects">
                    <mat-card>
                        <mat-card-title>Angular Tutorial</mat-card-title>
                    </mat-card>
                </mat-step>

                <!-- Icon overrides. -->
                <ng-template matStepperIcon="projects">
                    <mat-icon>code</mat-icon>
                </ng-template>

                <!-- change default 'edit' icon -->
                <ng-template matStepperIcon="edit">
                    <mat-icon>code</mat-icon>
                </ng-template>

                <!-- change default 'done' icon -->
                <ng-template matStepperIcon="done">
                    <mat-icon>code</mat-icon>
                </ng-template>

            </mat-stepper>
        </mat-tab>
    </mat-tab-group>
</div>