.text {
  font-size: 500%;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 20px 0 150px 20px;
}

.img {
  max-width: 80%;
}

.logo {
  width: 32px;
  height: 32px;
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.grid {
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 10px;
  padding-right: 10px;
}
