<div class="grid">
    <mat-grid-list cols="5">
        <mat-grid-tile colspan="4" rowspan="1">
            <h1 class="text">Don't be a stranger!</h1>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
            <img mat-card-image class="img" src="/assets/img/Profilbild.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-icon>mail</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <img mat-card-image class="logo" src="/assets/img/LI-In-Bug.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <img mat-card-image class="logo" src="/assets/img/XING-Logo.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <img mat-card-image class="logo" src="/assets/img/GitHub-Mark-32px.png">
        </mat-grid-tile>
    </mat-grid-list>
</div>