<div>
    <div class="title" fxLayoutAlign="center">
        <h1>Skills</h1>
    </div>
    <div>
        <div class="title" fxLayoutAlign="center">
            <h2>Programming Skills</h2>
        </div>
        <div class="grid">
            <mat-grid-list cols="4" rowHeight="2rem" gutterSize="15px">
                <mat-grid-tile>
                    <p>HTML</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Kotlin</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>CSS</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>C#</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Type-/JavaScript</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>SQL</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>LaTeX</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Angular</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Dart</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div>
        <div class="title" fxLayoutAlign="center">
            <h2>Software Skills</h2>
        </div>
        <div>
            <mat-grid-list class="grid" cols="2" rowHeight="2rem" gutterSize="15px">
                <mat-grid-tile>
                    <p>Microsoft Office</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Adobe XD</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Figma</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div>
        <div class="title" fxLayoutAlign="center">
            <h2>Elective Subjects</h2>
        </div>
        <div fxLayoutAlign="center">
            <ul>
                <li>ChatBots, Entwicklung & UX | Grade: 1,7</li>
                <li>Erstellen wissenschaftlicher Publikationen mit LaTeX | Grade: 1,0</li>
                <li>Excel-Kurs | Grade: 1,0</li>
                <li>Koreanische Sprache und interkulturelle Praxis | Grade: 1,0</li>
                <li>Mindfulness, Management and Caring Economy | Grade: 1,7</li>
                <li>Mitarbeiterführung | Grade: 1,3</li>
                <li>Personalauswahl und Potentialeinschätzung | Grade: 1,0</li>
            </ul>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div>
        <div class="title" fxLayoutAlign="center">
            <h2>Language</h2>
        </div>
        <div>
            <mat-grid-list cols="5" rowHeight="8rem">
                <mat-grid-tile>
                    <p>German</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>English</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Vietnamese</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Korean</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>French</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-spinner value="100"></mat-progress-spinner>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-spinner value="83"></mat-progress-spinner>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-spinner value="34"></mat-progress-spinner>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-spinner value="17"></mat-progress-spinner>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-spinner value="17"></mat-progress-spinner>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
