<mat-toolbar style="background-color: #9BA8BC; color: #fff;">
  <button mat-button routerLink="/home">Home</button>
  <div class="dropdown">
    <button mat-button class="dropbtn" routerLink="/about-me">About Me
      <mat-icon>arrow_drop_down</mat-icon>
      <div class="dropdown-content">
        <a href="/career">Career</a>
        <a href="/education">Education</a>
        <a href="/volunteering">Volunteering</a>
        <a href="/interests">Interests</a>
      </div>
  </button>
  </div>
  <button mat-button routerLink="/skills">Skills</button>
  <button mat-button routerLink="/projects">Projects</button>
  <button mat-button routerLink="/contact">Contact</button>
  <div class="dropdown">
    <button mat-button class="dropbtn">
      <mat-icon>language</mat-icon>English</button>
    <div class="dropdown-content">
      <a href="#">German</a>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>