<h1>Career</h1>
<mat-stepper orientation="vertical">
    <mat-step label="März 2020 - Juli 2020" state="work">
        <h2>Anwendungsprojekt</h2>
    </mat-step>
    <mat-step label="Juli 2019 - September 2019" state="work">
        <h2>Ferienarbeit bei Daimler</h2>
    </mat-step>
    <mat-step label="Juli 2018 - September 2018" state="work">
        <h2>Ferienarbeit bei Daimler</h2>
    </mat-step>
    <mat-step label="Oktober 2016 - Februar 2017" state="work">
        <h2>Praktikant im Bereich Marktforschung</h2>
    </mat-step>
    <mat-step label="Januar 2014 - Januar 2015" state="work">
        <h2>Aushilfe bei E-Center Proschek</h2>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="work">
        <mat-icon>work</mat-icon>
      </ng-template>
  
</mat-stepper>
