.title {
    margin-top: 5rem;
    margin-left: 10rem;
    color: #9AAABD
}

.container {
    margin-top: 1rem;
    margin-left: 10rem;
}

::ng-deep .mat-vertical-stepper-content 
{
    visibility: visible !important;
    height: 100% !important;
}