<div>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div>
        <h1 class="text">
          <p>Hi, <br>I'm Minh Ngoc Pham</p>
          <p>Nice to meet you!</p>
          <p>Aspiring Front End Developer</p>
        </h1>
        <button mat-flat-button class="button" color="primary">About Me</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img mat-card-image class="img" src="/assets/img/Profilbild.png">
    </mat-grid-tile>
  </mat-grid-list>
  <footer>
    <mat-grid-list class="footer" cols="1" rowHeight="100px">
      <mat-grid-tile>

      </mat-grid-tile>
    </mat-grid-list>
  </footer>
</div>
