.text {
  font-size: 50px;
}

.name {
  color: #5197FF;
}

.img {
    position: relative;
    max-width: 60%;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #9BA8BC;
}

.github-logo {
  max-height: 70%;
}

.linkedin-logo {
  max-height: 70%;
}
