.name {
  color: #5197FF;
}

img {
    max-width: 100%;
    height: auto;
  }

.github-logo {
  max-height: 70%;
}

.linkedin-logo {
  max-height: 70%;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}