.text {
  font-size: 500%;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 20px 0 150px 20px;
}

.name {
  font-weight: 400;
  color: #9BA8BC;
}

.subtext {
  color: #9BA8BC;
  font-size: 40%;
}

.img {
    position: absolute;
    bottom: 50px;
    max-width: 80%;
  }

.button {
  font-size: 30px;
  padding: 10px;
}