<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <h1>
      <p>Hi,</p>
      <p>I'm Minh Ngoc Pham</p>
      <p>Nice to meet you!</p>
      <p>Aspiring Front End Developer</p>
    </h1>
    <button mat-button>About Me</button>
  </div>
  <div fxFlex="60%">
    <img mat-card-image class="img" src="/assets/img/Profilbild.png">
  </div>
</div>
<mat-toolbar color="primary">
  <span class='spacer'></span>
    <img class="linkedin-logo" src="/assets/img/LI-Logo.png">
    <img src="/assets/img/GitHub-Mark-Light-64px.png">
    <img class="github-logo" src="/assets/img/GitHub_Logo_White.png">
  <span class='spacer'></span>
</mat-toolbar>
